#page-home {
    display: grid;
    overflow-y: scroll;
    gap: 1px;
    .card-list {
        display: grid;
        padding: 16px;
        grid-template-columns: auto 1fr;
        place-content: center;
        gap: 0 16px;
        align-items: center;
        user-select: none;
        grid-template-areas:
            'numero nome'
            'numero cantor'
        ;
        &>*{pointer-events: none;}
        .numero {
            grid-area: numero;
            width: 48px;
            height: 48px;
            display: grid;
            place-items: center;
            border-radius: 16px;
            aspect-ratio: 1/1;
            font-weight: 900;
        }
        .nome {
            grid-area: nome;
            font-size: 12px;
            border-radius: 4px;
            text-align: start;
            font-weight: 900;
        }
        .cantor {
            grid-area: cantor;
            font-size: 12px;
            border-radius: 4px;
            text-align: start;
        }
        &>:where(.numero, .nome):nth-child(-n+15) {
            animation: list .6s ease-in-out;
        }
    }
}

#popover-letra {
    display: grid;
    overflow-y: scroll;

    #scroll-top-page {
        position: fixed;
        bottom: 16px;
        right: 16px;
        z-index: 10;
    }

    &>header {
        display: grid;
        grid-template-columns: auto 1fr 40px;
        gap: 16px;
        padding: 16px;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1;
        .numero {
            width: 48px;
            height: 48px;
            display: grid;
            place-items: center;
            border-radius: 16px;
            aspect-ratio: 1/1;
            font-weight: 900;
        }
        .nome {
            font-size: 12px;
            font-weight: 900;
        }
        .cantor {
            font-size: 12px;
            border-radius: 4px;
            text-align: start;
        }

    }
    &>main {
        display: grid;
        padding: 0 16px 16px 16px;
        position: relative;
        --font-sizes: 5;
        &>div {
            display: grid;
            gap: 4px;
            font-size: 16px;
            font-size: 32px;

            input {display: none;}

            /* DPTO */
            &:has(.dpto, .dpto-todos) .marcador,
            &:has(.dpto, .dpto-todos) label {--piece-h: 261;}

            /* SOLO */
            &:has(.solo):not(:has(.marcador.dpto)) .marcador,
            &:has(.solo):not(:has(.marcador.dpto)) label {
                text-decoration: underline;
                --piece-h: 48;
            }

            /* SOLO solo-masculino */
            &:has(.solo-masculino):not(:has(.marcador.dpto)) .marcador,
            &:has(.solo-masculino):not(:has(.marcador.dpto)) label {
                text-decoration: underline;
                --piece-h: 180;
            }
            /* SOLO solo-feminino */
            &:has(.solo-feminino):not(:has(.marcador.dpto)) .marcador,
            &:has(.solo-feminino):not(:has(.marcador.dpto)) label {
                text-decoration: underline;
                --piece-h: 300;
            }

            /* ministracao / .declamação */
            &:has(.ministracao, .declamacao) .marcador,
            &:has(.ministracao, .declamacao) label {
                --piece-h: 100;
                font-weight: 900;
            }

            .marcador.f, .marcador.m, .marcador.s {aspect-ratio: 1/1;}

            /* .feminino, .f, .dpto-mulheres .marcador {--piece-h: 300;} */
            /* .masculino, .m, .dpto-homens .marcador {--piece-h: 180;} */

            /* f */
            &:has(.f,.feminino, .dpto-feminino) .f.marcador,
            &:has(.f,.feminino, .dpto-feminino) label.feminino {
                --piece-h: 300;
            }
            /* m */
            &:has(.m,.masculino, .dpto-masculino) .m.marcador,
            &:has(.m,.masculino, .dpto-masculino) label.masculino {
                --piece-h: 180;
            }

            .m .marcador {--piece-h: 180;}

            .s {
                text-decoration: underline;
                --piece-s: 48%;
            }


            /* label.solo, */
            /* .marcador.solo {text-decoration: underline; --piece-h: 48;} */

            /* label.solo-masculino, .marcadores .solo-masculino, &:has(.marcadores .solo-masculino):not(:has(label.solo-masculino)) {text-decoration: underline; --piece-h: 180;} */
            /* label.solo-feminino, .marcadores .solo-feminino, &:has(.marcadores .solo-feminino):not(:has(label.solo-feminino)) {text-decoration: underline; --piece-h: 300;} */

            &>.marcadores {
                display: grid;
                grid-auto-flow: column;
                gap: 4px;
                place-content: start;
                position: sticky;
                z-index: 1;
                top: 0;
                height: 80px;
                place-content: center start;

                &>:nth-child(1) {
                    font-size: 16px;
                    width: 48px;
                    height: 48px;
                    display: grid;
                    place-items: center;
                    border-radius: 100px;
                    aspect-ratio: 1/1;
                    font-weight: 900;
                }
                &>span {
                    --piece-s: 48%;
                    font-size: 16px;
                    display: grid;
                    place-items: center;
                    border-radius: 100px;
                    font-weight: 900;
                    padding: 0 16px;
                }
            }

            &>label{
                --piece-s: 48%;
                font-size: calc(16px + ((var(--font-size) - 1) * 4px));
                border-radius: 8px;     
                padding: 16px;
                &:first-of-type {border-radius: 32px 32px 8px 8px;}
                &:last-of-type {border-radius: 8px 8px  32px 32px;}
            }
        }
    }
    &>footer {
        display: grid;
        height: 80px;
    }
}